---
import type { GetStaticPaths } from 'astro'
import Layout from '~/layouts/Layout.astro'
import { TagsGroup, getSortedCerts } from '~/utils'
import DividerText from '~/components/DividerText.astro'
import { getCollection, render, type CollectionEntry } from 'astro:content'
import PostAddendum from '~/components/PostAddendum.astro'
import TableOfContents from '~/components/TableOfContents.astro'
import { Image } from 'astro:assets'
import GiscusLoader from '~/components/GiscusLoader.astro'
import siteConfig from '~/site.config'
import Tags from '~/components/Tags.astro'
import CertInfo from '~/components/CertInfo.astro'
import ScrollUpButton from '~/components/ScrollUpButton.astro'
import type { Collation } from '~/types'

export const getStaticPaths = (async () => {
  const certs = await getSortedCerts()

  return certs.map((cert) => ({
    params: { slug: cert.id },
    props: { cert },
  }))
}) satisfies GetStaticPaths

const { cert } = Astro.props
const certData = cert.data
const { headings, Content: CertContent } = await render(cert)
const addendum = await getCollection('addendum')
let AddendumContent
let addendumAvatarImage
if (addendum.length > 0) {
  const addendumEntry = addendum[0]
  const { Content } = await render(addendumEntry)
  AddendumContent = Content
  addendumAvatarImage = addendumEntry.data.avatarImage
}

---

<Layout
  title={certData.title}
  description={certData.description}
  author={certData.author}
  tags={certData.tags}
>
  <article class="max-w-full py-7.5" data-pagefind-body>
    {
      certData.coverImage && (
        <Image
          priority
          layout="constrained"
          src={certData.coverImage.src}
          alt={certData.coverImage.alt}
          class="w-full rounded-xl mb-5"
        />
      )
    }
    <div class="md:mx-2">
      <h1 id={cert.id} class="mb-4 text-[1.75rem] text-heading1 font-semibold">
        # {certData.title}
      </h1>
      <div class="my-2 border-l-2 border-accent/80 pl-4 py-2">
        <CertInfo cert={cert} class="mb-1" />
      </div>
    </div>
    <!-- <hr class="border-accent/10 border-2 rounded-xl hidden lg:block" /> -->
    <div class="flex flex-col xl:gap-1 2xl:gap-18 xl:flex-row xl:items-start">
      {certData.toc && headings.length > 0 && <TableOfContents headings={headings} />}
      <div class="mb-5 xl:min-w-full 2xl:min-w-full prose">
        <CertContent />
      </div>
    </div>
  </article>
  {
    siteConfig.giscus && (
      <section>
        <DividerText text="Comments" />
        <GiscusLoader />
      </section>
    )
  }
  <ScrollUpButton />
</Layout>
